name: Test Actions

on:
  - pull_request
  - pull_request_target

jobs:
  test1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Echo Environments
        run: |
          echo "GITHUB_EVENT_NAME ${GITHUB_EVENT_NAME}"
          echo "GITHUB_SHA ${GITHUB_SHA}"
          echo "GITHUB_REF ${GITHUB_REF}"
          echo "GITHUB_BASE_REF ${GITHUB_BASE_REF}"
          echo "GITHUB_HEAD_REF ${GITHUB_HEAD_REF}"
          echo "main_text.txt"
          if [ -f ./main_text.txt ] ; then cat ./main_text.txt ; fi
          echo "branch_text.txt"
          if [ -f ./branch_text.txt ] ; then cat ./branch_text.txt ; fi
